name: 中青看点分享

on:
  workflow_dispatch:
  schedule:
    - cron: '*/30 20-21 * * *'
jobs:
  build:
    runs-on: ubuntu-latest       
    steps:
      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - name: npm install
        run: |
          npm install
          npm install cron
          npm install request
          npm install md5-node
          
      - name: '运行 【youthshare】'
        run: |
          node youthshare.js
